body {
    background-color: rgb(244, 246, 254);
}


.mainContainer {
    margin: 20px auto;
    width: 80%;

    .btn {
        background-color: rgb(51, 94, 234);
        padding: 0 20px;
        transition: 0.5s ease-out;
    }

    .btn:hover {
        transform: translateY(-5%);
        box-shadow: 0 5px grey 10px;
    }

    .topMenu {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: rgb(91, 91, 91);
            }

            .nav-link:hover {
                color: rgb(51, 94, 234);
            }

        }



    }

}